.home{
    background-image:url("https://img.freepik.com/free-vector/seamless-doodle-children-toys-scoop-bucket-ball_98292-4617.jpg?size=626&ext=jpg&ga=GA1.1.386067680.1700117015&semt=ais") ;
    background-size: auto;
    background-repeat: repeat;
    background-color: transparent;
    width: 99vw;
    height: 200vh;
}