.home{
  background-image: url("https://st.depositphotos.com/1298561/4807/v/950/depositphotos_48071139-stock-illustration-doodle-baby-pattern-background.jpg");
  
  background-repeat: repeat;
  background-color: white;
  opacity: 30;
  width: 99vw;
  height: 230vh;
}