.back{
    background: linear-gradient(45deg, 
    rgb(198, 195, 195),rgb(0, 0, 0)
    );
    background-size: 50% 400%;
    animation: gradientAnimation 10s ease infinite;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }