.R{
    background-image: url("https://wallpapers.com/images/hd/cool-colorful-doodle-art-ai20uidcabdic10f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
